p {
   font-family: Roboto, Arial;
   margin-top: 0;
   margin-bottom: 0;
}

.design {
   width: 370px;
   height: 120px;
   border-radius: 4px;
   box-shadow: 0 0 4px gray;
}

.all-inboxes-div,
.inbox-div {
   display: block;
}

.all-inboxes {
   padding-top: 10px;
   padding-left: 12px;
   font-size: 12px;
   color: gray;
}

.email-div {
   display: flex;
}

.avatar-div {
   width: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sender-avatar {
   height: 44px;
   width: 44px;
   object-fit: cover;
   border-radius: 22px;
}

.from-time {
   display: flex;
   justify-content: space-between;
   margin-top: 14px;
   margin-right: 8px;
}

.from {
   font-weight: 700;
}

.time {
   font-size: 12px;
   color: gray;
}

.title {
   font-weight: 700;
   margin-top: 2px;
   font-size: 15px;
}

.content {
   margin-top: 4px;
   font-size: 14px;
   color: gray;
}