.email-text {
  color: rgb(100, 100, 100);
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.email-input {
  width: 340px;
  border-color: black;
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  padding: 4px ;
}

.terms-and-conditions {
  font-family: Roboto;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: rgb(100, 100, 100);
}

.agree-button {
  width: 340px;
  height: 44px;
  font-size: 16px;
  background-color: rgb(0, 110, 255);
  border: none;
  color: white;
  border-radius: 22px;
  cursor: pointer;
}