body {
   height: 3000px;
}

.product-picture {
   width: 300px;
   height: 300px;
   object-fit: cover;
}

.product-container {
   position: relative;
   display: inline-block;
}

.promotion {
   position: absolute;
   top: 10px;
   right: 0;
   font-family: Roboto, Arial;
   background-color: black;
   color: white;
   font-size: 14px;
   padding: 4px 8px;
}

.add-to-cart-overlay {
   position: absolute;
   background-color: rgba(104, 104, 104, 0.15);
   bottom: 0;
   left: 0;
   right: 0;
   top: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.add-to-cart {
   background-color: white;
   border-style: solid;
   border-width: 1px;
   padding: 10px 20px;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
}